.container {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
    width: calc(33.33% - 20px); /* Ancho de cada categoría considerando el margen */
}

li:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Dividir en tres columnas */
ul {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    column-gap: 20px;
}

@media screen and (max-width: 992px) {
    ul {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media screen and (max-width: 768px) {
    ul {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
